/* tag override */
body {
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

/* common */
.link-highlight{
    color:dodgerblue;
}

.color-light{
    color: #888;
}

.leo-test{
    color: #ccc;
}

/* small screen */
@media(min-width: 640px){
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* main page */
.top-banner {
    color: white;
    background: darkslategrey;
    font-size: 1.4rem;
    display: flex;
    padding: 10px 0;
}

.top-banner-item {
    margin: auto; /* let its content centered, works with parent flex */
}

.top-banner-item a {
    color: white;
}

.container {
    display: flex;
    height: 84vh; /* fixed: do not set by pixel. //use vh as unit */
}
.welcome-message {
    margin: auto; /* let text align center, both vertical and horizontal, work with parent flex */
    color: darkslategrey;
    font-size: 2rem;
}

.footer {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.footer-item {
    flex-basis: 30%;
    padding: 10px;
    box-sizing: border-box; /* include padding in width/height */
}

