/* tag override */
body {
	margin: 0;
}

a {
    text-decoration: none;
}

/* common */

.highlight-link{
    color:dodgerblue;
}

/* small screen */
@media(min-width: 640px){
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

/* main page */
.top-banner {
    color: white;
    background: darkslategrey;
    font-size: 1.4rem;
    display: flex;
    padding: 10px 0;
}

.top-banner-item {
    margin: auto; /* let its content centered, works with parent flex */
}

.top-banner-item a {
    color: white;
}

.container {
    display: flex;
    height: 88vh; /* fixed: do not set by pixel. //use vh as unit */
}
.welcome-message {
    margin: auto; /* let text align center, both vertical and horizontal, work with parent flex */
    color: darkslategrey;
    font-size: 2rem;
}

.line-cross {
    height: 1px;
    background-color: darkslategrey;
}

.footer {
	color: darkslategrey;
    text-align: center;
    font-size: 0.8em;
}

.footer-item {
    flex-basis: 30%;
    padding: 10px;
    box-sizing: border-box; /* include padding in width/height */

}

.footer-powered-by {
    color: darkslategrey; /* override <a> tag */
}
